<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.myproject.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ordersn" jdbcType="VARCHAR" property="ordersn" />
    <result column="issend" jdbcType="INTEGER" property="issend" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ordersn, issend
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.myproject.model.User">
    insert into order_1 (id, ordersn, issend
      )
    values (#{id,jdbcType=INTEGER}, #{ordersn,jdbcType=VARCHAR}, #{issend,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.myproject.model.User">
    insert into order_1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ordersn != null">
        ordersn,
      </if>
      <if test="issend != null">
        issend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordersn != null">
        #{ordersn,jdbcType=VARCHAR},
      </if>
      <if test="issend != null">
        #{issend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.myproject.model.User">
    update order_1
    <set>
      <if test="ordersn != null">
        ordersn = #{ordersn,jdbcType=VARCHAR},
      </if>
      <if test="issend != null">
        issend = #{issend,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.myproject.model.User">
    update order_1
    set ordersn = #{ordersn,jdbcType=VARCHAR},
      issend = #{issend,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>